[Unit]
Description=Bind mount /var/home to /home
Documentation=man:systemd.mount(5)
After=local-fs.target
Before=snapd.service

[Mount]
What=/var/home
Where=/home
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
